manifest {
  author = 'Dan Fornika'
  description = 'Basic Sequence QC'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.3.1'
}


params {
    profile = false
    cache = ''
    fastq_input = 'NO_FILE'
    illumina_suffixes = ['*_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]
    fastq_exts = ['.fastq.gz', '.fq.gz', '.fastq', '.fq']
    fastq_search_path = makeFastqSearchPath( params.illumina_suffixes, params.fastq_exts )
    samplesheet_input = 'NO_FILE'
    prefix = ''
    dehost = false
    dehosting_index = 'human-t2t-hla'
}


def makeFastqSearchPath ( illumina_suffixes, fastq_exts ) {
    if ( params.fastq_input ) {
	def fastq_search_path = []
	for (suffix in illumina_suffixes){
            for (ext in fastq_exts){
		fastq_search_path.add(params.fastq_input.toString() + '/**' + suffix.toString() + ext.toString())
            }
	}
	return fastq_search_path
    }
}


profiles {
    conda {
	conda.enabled = true
	process.conda = "$baseDir/environments/environment.yml"
	if (params.cache){
	    conda.cacheDir = params.cache
	}
    }
}


process {
    withName: dehost {
	conda = "$baseDir/environments/dehosting.yml"
	cpus = 4
    }
}

