manifest {
  author = 'Dan Fornika'
  description = 'Basic Sequence QC'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.3.2'
}


params {
    profile = false
    cache = ''
    fastq_input = 'NO_FILE'
    illumina_suffixes = ['*_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]
    fastq_exts = ['.fastq.gz', '.fq.gz', '.fastq', '.fq']
    fastq_search_path = makeFastqSearchPath( params.illumina_suffixes, params.fastq_exts )
    samplesheet_input = 'NO_FILE'
    prefix = ''
    dehost = false
    dehosting_index = 'human-t2t-hla'
    publish_trimmed_reads = false
}


def makeFastqSearchPath ( illumina_suffixes, fastq_exts ) {
    if ( params.fastq_input ) {
	def fastq_search_path = []
	for (suffix in illumina_suffixes){
            for (ext in fastq_exts){
		fastq_search_path.add(params.fastq_input.toString() + '/**' + suffix.toString() + ext.toString())
            }
	}
	return fastq_search_path
    }
}


profiles {
    conda {
	conda.enabled = true
	process.conda = "$baseDir/environments/environment.yml"
	if (params.cache) {
	    conda.cacheDir = params.cache
	}
    }
    apptainer {
	apptainer.enabled = true
	process.container = "oras://ghcr.io/bccdc-phl/basic-sequence-qc:a54a43b98750d269"
	if (params.cache) {
	    apptainer.cacheDir = params.cache
	}
    }
    docker {
	docker.enabled = true
	process.container = "ghcr.io/bccdc-phl/basic-sequence-qc:4761e23cfc357b53"
    }
}


process {
    withName: fastp {
        cpus = 4
    }
    withName: fastp_pre_dehosting {
        cpus = 4
    }
    withName: fastp_post_dehosting {
        cpus = 4
    }
    withName: dehost {
    	cpus = 4
    }
}

